.footer{
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 1rem;
  background: #252934;

  .footer__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__header{
    letter-spacing: 2px;
    color: rgb(84, 52, 114);
    font-weight: 700;
    margin: 0.5rem 0;
  }

  .footer__img{
    height: 25px;
    width: 25px;
  }

  .footer__valid{
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 700;
    color: rgb(84, 52, 114);
  }
  .footer__facebook{
    width: 35px;
    height: 35px;
    padding: 1px;
    border-radius: 5px;

    &:hover{
      fill: white;
      background: #4267B2;
    }
  }

  .footer__instagram{
    padding: 5px;
    border-radius: 5px;

    &:hover{
      fill: white;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    }
  }

  .footer__github{
    padding: 5px;
    border-radius: 5px;

    &:hover{
      fill: white;
      background: rgb(64, 120, 192);
    }
  }

  .footer__google{
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;

    &:hover{
      fill: white;
      background: linear-gradient( 45deg, #EB4335, #FBBC05, #34A853, #4285F4);
    }
  }
}

.back__btn{
  border: none;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  padding: 5px;
  font-weight: 700;
  outline: none;
  background: rgb(73, 92, 72);
  color: white;

  .back__svg{
    transform: rotate(180deg);
  }

  &:hover{
    .back__svg--arrow{
      transform: translateY(7%);
      transition: transform 0.5s ease;
    }
  }
}


