.header__logo{
  width: 50px;
  height: 50px;

  &:hover{
    path{
      fill: hsl(258, 46%, 49%);
      background: brown;
    }
  }
}

.navbar{
  font-family: 'Russo One', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  padding: 1rem 1rem 0 1rem;
  z-index: 100;
  text-transform: uppercase;

  .navbar__list{
    display: none;
    list-style: none;
    padding: 0;
  }

  .navbar__item{
    margin: 0 1rem;
    text-decoration: none;
    color: #ababab;
    letter-spacing: 2px;
    transition: all ease .3s;

    &:hover{
      color: #fff;

    }
  }
}

.mobnav{
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 0;
  background: white;
  overflow-x: hidden;
  transition: 0.5s;

  .mobnav__list{
    list-style: none;
    padding: 0;
    display: grid;
    row-gap: 1.5rem;
    margin: 1rem 0 2rem 0;
  }

  .mobnav__item{
    text-decoration: none;
    color: black;
    letter-spacing: 4px;
    font-weight: 700;
    transition: 0.3s;

    &:hover{
      opacity: 0.5;
    }
  }

  .mobnav__line{
    width: 4.5rem;
    height: 3px;
    background: black;
  }

  .mobnav__btn{
    display: inline-block;
    cursor: pointer;
    border-radius: 1000px;
    background: #4b6cc1;
    font-weight: 400;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    transition: all ease .3s;

    &:hover{
      transform: scale(1.075);
      box-shadow: inset 0 0 0 2px #4b6cc1;
      background: none;
      color: #4b6cc1;
    }
  }
}

// support
.navbar__sticky{
  padding: 0.2rem 1rem;
  background-color: black;
}

.visible{
  width: 75%;
  padding: 2rem;
}

@media (min-width: 640px){

  .navbar{
    justify-content: center;

    .navbar__list{
      display: flex;
    }
  }

  .navbar__sticky{
    padding: 0.2rem 0;
    background-color: white;

    .navbar__item{
      color: black;
    }
  }
}
