.header__logo{
  width: 60px;
  height: 60px;
}

.navbar{
  font-family: "lato", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  padding: 1rem;
  z-index: 100;

  .navbar__list{
    display: none;
    list-style: none;
    padding: 0;
  }

  .navbar__item{
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    transition: 0.5s;
  }
}

.mobnav{
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;
  background: white;
  overflow-x: hidden;
  transition: 0.5s;

  .mobnav__list{
    list-style: none;
    padding: 0;
    display: grid;
    row-gap: 1.5rem;
  }

  .mobnav__item{
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: 0.3s;
    letter-spacing: 2px;
  }

  .mobnav__line{
    width: 3.5rem;
    height: 3px;
    background: black;
  }
}

// support
.navbar__sticky{
  padding: 0 1rem;
  background-color: black;

  // .navbar__item{
  //   color: #000;
  // }
}

.visible{
  width: 70%;
  padding: 1rem;
}

@media (min-width: 640px){
  .navbar{
    justify-content: center;

    .navbar__list{
      display: flex;
    }
  }

  .navbar__sticky{
    padding: 0;
    background-color: white;

    .navbar__item{
      color: black;
    }
  }
}
