<header>
  <nav class="navbar" #navbar>

    <ul class="navbar__list">
      <li><a href="" class="navbar__item">Who</a></li>
      <li><a href="" class="navbar__item">What</a></li>
      <li><a href="" class="navbar__item">Where</a></li>
    </ul>
    <a href=""><img src="../../assets/logo.png" alt="logo" class="header__logo"></a>
    <ul class="navbar__list">
      <li><a href="" class="navbar__item">Home</a></li>
      <li><a href="" class="navbar__item">Skills</a></li>
      <li><a href="" class="navbar__item">Focus</a></li>
    </ul>

    <section class="hamburger" (click)="activeClass()" [ngClass]="{'open' : active}">
      <div class="hamburger__line hamburger__line--half hamburger__line--start"></div>
      <div class="hamburger__line"></div>
      <div class="hamburger__line hamburger__line--half hamburger__line--end"></div>
    </section>

    <section class="mobnav" [ngClass]="{'visible' : active}">
      <img src="../../assets/logo.png" alt="logo" class="header__logo">
      <ul class="mobnav__list">
        <li><a class="mobnav__item" href="" >Who</a></li>
        <li><a class="mobnav__item" href="" >What</a></li>
        <li><a class="mobnav__item" href="" >Where</a></li>
        <div class="mobnav__line"></div>
        <li><a class="mobnav__item" href="" >Home</a></li>
        <li><a class="mobnav__item" href="" >Skills</a></li>
        <li><a class="mobnav__item" href="" >Focus</a></li>
      </ul>
    </section>

  </nav>
</header>
