.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background: transparent;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.header__logo{
  width: 60px;
  height: 60px;
}

.navbar__list{
  display: none;
}

.mobnav{
  visibility: hidden;
  position: fixed;
  top: 1px;
  left: 0;
  height: 100%;
  padding: 1rem;
  background: white;
  z-index: 9999;

  .mobnav__list{
    list-style: none;
    padding: 0;
    display: grid;
    row-gap: 1.5rem;
  }

  .mobnav__item{
    text-decoration: none;
    color: black;
  }
}

.visible{
  visibility: visible;
}

@media (min-width: 640px){
  .navbar{
    justify-content: center;
  }

  .navbar__list{
    display: flex;
    background: wheat;
  }
}
