.sectionLine-0-2-86 {
  height: 1px;
  margin: 0.75rem 0;
  display: flex;
  background-color: #E6E6E6;
}

button{
  border: 0;
  background: unset;
  opacity: 0.5;
  padding: 0;
  color: #171725;
  margin: 0.4rem 0.5rem 0 0;
  outline: none;
}

.buttonactive{
  color: #7B7CE6;
  opacity: 1;
}
