<header>
  <nav class="desktop">
    <ul class="nav__list">
      <li>Who</li>
      <li>What</li>
      <li>Where</li>
    </ul>
    <img src="../../assets/logo.png" alt="logo" class="header__logo">
    <ul class="nav__list">
      <li>Home</li>
      <li>Skills</li>
      <li>Focus</li>
    </ul>
    <section class="menu" [ngClass]="status ? 'open' : ''" (click)="isOpened()">
      <div class="menu__line half start"></div>
      <div class="menu__line"></div>
      <div class="menu__line half end"></div>
    </section>
  </nav>
</header>
