.header__logo{
  width: 60px;
  height: 60px;
  margin: 0 2rem;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background: transparent;
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: top 0.5s ease-out;
}

.navbar__list{
  display: none;
}

.mobnav{
  visibility: hidden;
  position: fixed;
  top: 1px;
  left: 0;
  height: 100%;
  padding: 1rem;
  background: white;

  .mobnav__list{
    list-style: none;
    padding: 0;
    display: grid;
    row-gap: 1.5rem;
  }

  .mobnav__item{
    text-decoration: none;
    color: black;
  }
}

.visible{
  visibility: visible;
}

@media (min-width: 640px){
  .navbar{
    justify-content: center;
  }

  .navbar__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    list-style: none;
    padding: 0;
  }

  .navbar__item{
    text-decoration: none;
    color: rgb(160, 120, 120);
  }
}
