.slider {
  position: relative;
  width: 400px;
  height: 400px;

  .slider__content {
    height: 100%;
    overflow: hidden;
  }

  .slider__img{
    height: 400px;
    width: 100%;
  }

  .slider__dots {
    position: absolute;
    top: 290px;
    width: 100%;
    line-height: 0!important;
    text-align: center;
    font-size: 0;
    z-index: 10;
  }

  .slider__list {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
    transition-duration: .3s;
  }

  .slider__item{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    font-size: 14px;
    background-color: #e2e2e2;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
  }

  .slider__list li.mall-this {
    background-color: #fff;
    filter: alpha(opacity=100);
    opacity: 1;
    width: 30px;
    border-radius: 14px;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
  }
}

