$animationSpeed: 10s;

.body {
  display: flex;
	align-items: center;
	justify-content: center;
}

.slider {
  margin-bottom: 3rem;
  margin-top: 3rem;
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .325);
	height: 120px;
	overflow:hidden;
	position: relative;
	width: 100%;

	&::before,
	&::after {
		background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		content: "";
		height: 120px;
		position: absolute;
		width: 80px;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(150px * 16);

    &:hover{
      animation-play-state: paused;
    }
	}

	.slide {
		height: 100px;
		width: 150px;
    text-align: center;
	}

  img{
    width: 100px;
    height: 100px;

    &:hover{
      background: chartreuse;
    }
  }
}

@media(min-width: 640px){
  .slider{
    width: 90%;
  }

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-300px * 8))}
  }
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-150px * 8))}
}
