<h2 class="about__title">About Me</h2>
<article class="info">
  <div class="details">
    <h2></h2>
    <p class="details__text"> &nbsp;&nbsp; I am self-taught front-end developer. In addition to my knowledge base, I actively seek everyday to develop more. I can say that everything what I know about programming is the result of my hard work. <br>
      &nbsp;&nbsp; Currently my goal is to become more proficient in this field and forge my career as front-end developer.</p>
    <div class="details__info">
      <div>
        <p>Name:</p>
        <p>Surname:</p>
        <p>Date of birth:</p>
        <p>Address:</p>
      </div>
      <div>
        <p class="details__info--highlighted">Giorgi</p>
        <p class="details__info--highlighted">Zhonzholadze</p>
        <p class="details__info--highlighted">July 15, 1996</p>
        <p class="details__info--highlighted">Telavi, Kakheti</p>
      </div>
    </div>
  </div>

  <!-- card component -->
  <div class="cards">
    <app-card></app-card>
  </div>

</article>
<article class="CV">
  <h3 class="CV__title">For more information</h3>
  <a download href="assets/CV/Giorgi_Zhonzholadze - En.pdf" class="CV__btn">download CV</a>
</article>

<!-- focus componenet -->
<app-focus></app-focus>
