<h2 class="about__title" [translate]="'about.title'"></h2>
<article class="info">
  <div class="details">
    <h2 class="details__title" [translate]="'about.subtitle'"></h2>
    <p class="details__text" [translate]="'about.text'"></p>
    <div class="details__info">
      <div>
        <p [translate]="'about.name'"></p>
        <p [translate]="'about.surname'"></p>
        <p [translate]="'about.birth'"></p>
        <p [translate]="'about.address'"></p>
      </div>
      <div>
        <p class="details__info--highlighted" [translate]="'about.name-field'"></p>
        <p class="details__info--highlighted" [translate]="'about.surname-field'"></p>
        <p class="details__info--highlighted" [translate]="'about.birth-field'"></p>
        <p class="details__info--highlighted" [translate]="'about.address-field'"></p>
      </div>
    </div>
  </div>

  <!-- card component -->
  <div class="cards">
    <!-- <app-card></app-card> -->
  </div>

</article>
<article class="CV">
  <h3 class="CV__title" [translate]="'about.more'"></h3>
  <a download href="assets/CV/Giorgi_Zhonzholadze - En.pdf" class="CV__btn" [translate]="'about.CV'"></a>
</article>

<!-- focus componenet -->
<app-focus></app-focus>

<!-- footer section  -->
<!-- <app-footer></app-footer> -->
