#map{
  height: 400px;
  margin: 4rem 0 0 0;
  padding-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.map__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
}

@media (min-width: 640px){
  #map{
    height: 650px;
    margin: 4rem 2rem 0 2rem;
    padding-bottom: 2rem;
  }
}

@media(min-width: 1040px){
  #map{
    margin: 4rem 4rem 0 4rem;
    padding-bottom: 2rem;
  }
}


