%flex-centring{
  display: flex;
  justify-content: center;
  align-items: center;
}

// display grid - centring
%grid-centring{
  display: grid;
  justify-items: center;
}

// positioning - absolute
%position-absolute{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// btn
%btn{
  background: linear-gradient(to right, $secondary-background 50%, $hover-background 50%);
  color: $font-border;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: inset 0 0 10px $font-border;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  letter-spacing: 2px;

  &:hover{
    background-position: left bottom;
    color: $font-color;
  }
}

// btn highlighted
%btn--highlighted{
  background: linear-gradient(to right, $hover-background 50%, $secondary-background 50%);
  color: $font-color;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: inset 0 0 10px $font-border;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  letter-spacing: 2px;


  &:hover{
    color: $font-border;
    background-position: left bottom;
  }
}

%btn--scalable{
  outline: none;
  background-image: linear-gradient(to right, #8490ff 0%, #62bdfc 48%, #8490ff 100%);
  background-size: 200% auto;
  color: $primary-color;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  transition: all 300ms linear 0s;
  text-decoration: none;

  &:hover{
    background-position: right center;
  }
}
