/*font Variables*/
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Rubik', sans-serif;

/*Color Variables*/
$primary-color: white;
$secondary-color: black;
$background: #252934;
$background-hover: hsla(0, 0%, 0%, .6);
