@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

/*font Variables*/
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Rubik', sans-serif;

/*Color Variables*/
$primary-color: white;
$secondary-color: black;
$background: #252934;
$background-hover: hsla(0, 0%, 0%, .6);
