<div class="slider">
  <div class="slides">
    <input type="radio" name="radio-btn" id="radio1">
    <input type="radio" name="radio-btn" id="radio2">
    <input type="radio" name="radio-btn" id="radio3">
    <input type="radio" name="radio-btn" id="radio4">
  </div>

  <div class="slide first">
    <img src="../../../assets/slider/profilpicture.jpg" alt="">
  </div>
  <div class="slide">
    <img src="../../../assets/slider/pic.jpg" alt="">
  </div>
  <div class="slide">
    <img src="../../../assets/slider/mypic.jpeg" alt="">
  </div>

  <div class="navigation-auto">
    <div class="auto-btn1"></div>
    <div class="auto-btn2"></div>
    <div class="auto-btn3"></div>
    <div class="auto-btn4"></div>
  </div>

</div>
