.about__title{
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    margin: 3rem 0 1rem 0;
  }

.info{
  padding: 1rem;
  width: 100%;

  .details{
    padding: 1rem;
    background: #252934;
    color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;

    .details__title{
      font-size: 1.5rem;
    }

    .details__text{
      text-align: justify;
    }

    .details__info{
      display: grid;
      grid-template-columns: 130px auto;
    }

    .details__info--highlighted{
      color: rgb(100, 100, 60);
    }
  }
}

.CV{
  text-align: center;

  .CV__title{
    font-size: 1.5rem;
    font-style: italic;
  }

  .CV__btn{
    @extend %btn--scalable;
    padding: 16px;
  }
}

@media (min-width: 640px){
  .info{
    padding: 1rem 4rem 1rem 3rem;
    display: grid;
    grid-template-columns: 45% 55%;
    column-gap: 16px;

    .details{
      height: 450px;
      margin-top: 0;
    }

    .slider{
      .slider__wrapper{
        height: 450px;
      }
    }
  }
}

@media (min-width: 850px){
  .info{
    .slider{
      .slider__wrapper{
        height: 505px;
      }
    }
    .details{
      height: 505px;
    }
  }
}

@media (min-width: 1040px){
  .info{

    .slider{
      .slider__wrapper{
        height: 570px;
      }
    }
    .details{
      height: 570px;

      .details__title{
        font-size: 2rem;
      }

      .details__text{
        font-size: 1.15rem;
      }

      .details__info{
        font-size: 1.15rem;
      }
    }
  }
}

@media (min-width: 1440px){
  .info{
    .details{

      .details__title{
        font-size: 2.2rem;
      }

      .details__text{
        font-size: 1.25rem;
      }

      .details__info{
        font-size: 1.2rem;
        grid-template-columns: 140px auto;
      }
    }
  }
}
