.info{
  .details{
    background: #252934;
    color: white;
    border-radius: 0.5rem;

    .details__title{
      font-size: 1.5rem;
    }

    .details__text{
      text-align: justify;
    }

    .details__info{
      display: grid;
      grid-template-columns: 130px auto;
    }

    .details__info--highlighted{
      color: rgb(100, 100, 60);
    }
  }
}

@media (min-width: 640px){

}

@media (min-width: 850px){
  .info{
    display: flex;

    .slider{
      .slider__wrapper{
        height: 505px;
        width: 40vw;
      }
    }
    .details{
      height: 505px;
    }
  }
}

@media (min-width: 1040px){
  .info{

    .slider{
      .slider__wrapper{
        height: 570px;
        width: 40vw;
      }
    }
    .details{
      height: 570px;

      .details__title{
        font-size: 2rem;
      }

      .details__text{
        font-size: 1.15rem;
      }

      .details__info{
        font-size: 1.15rem;
      }
    }
  }
}

@media (min-width: 1440px){
  .info{
    .details{

      .details__title{
        font-size: 2.2rem;
      }

      .details__text{
        font-size: 1.25rem;
      }

      .details__info{
        font-size: 1.2rem;
        grid-template-columns: 140px auto;
      }
    }
  }
}



.language{
  background: #252934;
  color: white;
  border-radius: 0.5rem;

  .language__info{
    display: grid;
    grid-template-columns: 100px auto;
  }

  .language__level{
    color: rgb(123, 134, 75);
  }
}

.cont{
  text-align: center;

  .intro__btn--highlighted{
    display: inline-block;
    cursor: pointer;
    border-radius: 1000px;
    background: #4b6cc1;
    font-weight: 400;
    color: #fff;
    font-size: 1.625rem;
    padding: 16px 32px;
    text-decoration: none;
    transition: all ease .3s;

    &:hover{
      transform: scale(1.075);
      box-shadow: inset 0 0 0 2px #4b6cc1;
      background: none;
      color: #4b6cc1;
    }
  }
}

@media (min-width: 640px){
  .CV{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    .language{
      display: grid;
      justify-items: center;
    }
  }
}

@media (min-width: 1040px){
  .language{
    .language__title{
      font-size: 1.5rem;
    }

    .language__info{
      grid-template-columns: 120px auto;
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 1600px){
  .language{
    .language__title{
      font-size: 2rem;
    }

    .language__info{
      grid-template-columns: 140px auto;
      font-size: 1.5rem;
    }
  }
}
