<section class="carousel">
  <h3 class="carousel__title">Tech Stack</h3>
  <article class="carousel__content">
    <div class="carousel__content--rotateable" [ngClass]="status ? 'carousel__content--rotateable' : 'paused'">
      <div class="carousel__item"><img src="../assets/carousel/html-5.png" alt="HTML" class="carousel__img"></div>
      <div class="carousel__item"><img src="../assets/carousel/css.png" alt="CSS" class="carousel__img"></div>
      <div class="carousel__item"><img src="../assets/carousel/sass.png" alt="SASS" class="carousel__img"></div>
      <div class="carousel__item"><img src="../assets/carousel/bootstrap.png" alt="Bootstrap" class="carousel__img"></div>
      <div class="carousel__item"><img src="../assets/carousel/jquery.png" alt="jQuery" class="carousel__img"></div>
      <div class="carousel__item"><img src="../assets/carousel/javascript.png" alt="JS" class="carousel__img"></div>
      <div class="carousel__item"><img src="../assets/carousel/typescript.png" alt="TS" class="carousel__img"></div>
      <div class="carousel__item"><img src="../assets/carousel/angular.png" alt="Angular" class="carousel__img"></div>
    </div>
  </article>
  <div>
    <button (click)="toggleAnimation()" class="carousel__btn">{{buttonText}}</button>
  </div>
</section>


