<hr>
<section class="projects">
  <h1 class="projects__title">Projects</h1>
  <article class="projects__list">
    <div>
      <a href="https://github.com/Gikkk/Github-User-Finder" class="projects__link" target="_blank">
        <img class="projects__item" src="assets/project/clockapi.jpg" alt="userfinder">
        <img class="projects__item--highlighted" src="assets/icon.png" alt="watching">
      </a>
      <div>
        <h4 class="project__name">Project name</h4>
        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quae officia pariatur atque minus quidem quod</p>
        <a href="">Demo</a>
        <a href="">Code</a>
      </div>
    </div>
    <div>
      <a href="https://github.com/Gikkk/Clock-API" class="projects__link" target="_blank">
        <img class="projects__item" src="assets/project/clockapi.jpg" alt="clock">
        <img class="projects__item--highlighted" src="assets/icon.png" alt="watching">
      </a>
      <div>
        <h4 class="project__name">Project name</h4>
        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quae officia pariatur atque minus quidem quod</p>
        <a href="">Demo</a>
        <a href="">Code</a>
      </div>
    </div>
    <div>
      <a href="https://github.com/Gikkk/My-Portfolio" class="projects__link" target="_blank">
        <img class="projects__item" src="assets/project/clockapi.jpg" alt="oldportfolio">
        <img class="projects__item--highlighted" src="assets/icon.png" alt="watching">
      </a>
      <div>
        <h4 class="project__name">Project name</h4>
        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quae officia pariatur atque minus quidem quod</p>
        <a href="">Demo</a>
        <a href="">Code</a>
      </div>
    </div>
    <div>
      <a href="https://gikkk.github.io/Challenge-5-IP-Address-Tracker-API/" class="projects__link" target="_blank">
        <img class="projects__item" src="assets/project/tracker.jpg" alt="addresstracker">
        <img class="projects__item--highlighted" src="assets/icon.png" alt="watching">
      </a>
      <div>
        <h4 class="project__name">Project name</h4>
        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quae officia pariatur atque minus quidem quod</p>
        <a href="">Demo</a>
        <a href="">Code</a>
      </div>
    </div>
    <div>
      <a href="https://gikkk.github.io/Challenge-6-Rest-Countries-API/" class="projects__link" target="_blank">
        <img class="projects__item" src="assets/project/country.jpg" alt="countrylist">
        <img class="projects__item--highlighted" src="assets/icon.png" alt="watching">
      </a>
      <div>
        <h4 class="project__name">Project name</h4>
        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quae officia pariatur atque minus quidem quod</p>
        <a href="">Demo</a>
        <a href="">Code</a>
      </div>
    </div>
    <div>
      <a href="https://gikkk.github.io/Challenge-4-URL-Shortening-API/" class="projects__link" target="_blank">
        <img class="projects__item" src="assets/project/shorten.jpg" alt="urlshorten">
        <img class="projects__item--highlighted" src="assets/icon.png" alt="watching">
      </a>
      <div>
        <h4 class="project__name">Project name</h4>
        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quae officia pariatur atque minus quidem quod</p>
        <a href="">Demo</a>
        <a href="">Code</a>
      </div>
    </div>
    <div>
      <a href="https://gikkk.github.io/Challenge-3-Responsive-BankMainPage/" class="projects__link" target="_blank">
        <img class="projects__item" src="assets/project/bank.jpg" alt="banklayout">
        <img class="projects__item--highlighted" src="assets/icon.png" alt="watching">
      </a>
      <div>
        <h4 class="project__name">Project name</h4>
        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quae officia pariatur atque minus quidem quod</p>
        <a href="">Demo</a>
        <a href="">Code</a>
      </div>
    </div>
    <div>
      <a href="https://github.com/Gikkk/Challenge-2-Responsive-Grid-Dashboard" class="projects__link" target="_blank">
        <img class="projects__item" src="assets/project/dashboard.jpg" alt="dashboard">
        <img class="projects__item--highlighted" src="assets/icon.png" alt="watching">
      </a>
      <div>
        <h4 class="project__name">Project name</h4>
        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quae officia pariatur atque minus quidem quod</p>
        <a href="">Demo</a>
        <a href="">Code</a>
      </div>
    </div>
  </article>
  <a href="https://github.com/Gikkk" class="project__btn" target="_blank"><span>More on Github</span></a>
</section>
<hr>
