<section class="projects">
  <h1 class="projects__title">My Projects</h1>
  <div class="projects__list">
    <div>
      <img class="projects__item" src="assets/project/userfinder.jpg" alt="userfinder">
      <div class="project__container">
        <h4 class="projects__header">GitHub User Finder</h4>
        <p class="project__text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <a href="" class="project__btn">DEMO</a>
        <a href="" class="project__btn--highlighted">SOURCE</a>
      </div>
    </div>
    <div>
      <img class="projects__item" src="assets/project/oldportfolio.jpg" alt="clock">
      <div class="project__container">
        <h4 class="projects__header">Old Portfolio</h4>
        <p class="project__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolores totam tenetur deleniti nam aliquam.</p>
        <a href="" class="project__btn">DEMO</a>
        <a href="" class="project__btn--highlighted">SOURCE</a>
      </div>
    </div>
    <div>
      <img class="projects__item" src="assets/project/clockapi.jpg" alt="oldportfolio">
      <div class="project__container">
        <h4 class="projects__header">Clock API</h4>
        <p class="project__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolores totam tenetur deleniti nam aliquam.</p>
        <a href="" class="project__btn">DEMO</a>
        <a href="" class="project__btn--highlighted">SOURCE</a>
      </div>
    </div>
    <div>
      <img class="projects__item" src="assets/project/tracker.jpg" alt="addresstracker">
      <div class="project__container">
        <h4 class="projects__header">IP Address Tracker</h4>
        <p class="project__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolores totam tenetur deleniti nam aliquam.</p>
        <a href="" class="project__btn">DEMO</a>
        <a href="" class="project__btn--highlighted">SOURCE</a>
      </div>
    </div>
    <div>
      <img class="projects__item" src="assets/project/country.jpg" alt="countrylist">
      <div class="project__container">
        <h4 class="projects__header">Country List API</h4>
        <p class="project__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolores totam tenetur deleniti nam aliquam.</p>
        <a href="" class="project__btn">DEMO</a>
        <a href="" class="project__btn--highlighted">SOURCE</a>
      </div>
    </div>
    <div>
      <img class="projects__item" src="assets/project/shorten.jpg" alt="urlshorten">
      <div class="project__container">
        <h4 class="projects__header">URL Shorten API</h4>
        <p class="project__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolores totam tenetur deleniti nam aliquam.</p>
        <a href="" class="project__btn">DEMO</a>
        <a href="" class="project__btn--highlighted">SOURCE</a>
      </div>
    </div>
    <div>
      <img class="projects__item" src="assets/project/bank.jpg" alt="banklayout">
      <div class="project__container">
        <h4 class="projects__header">Bank Landing Page</h4>
        <p class="project__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolores totam tenetur deleniti nam aliquam.</p>
        <a href="" class="project__btn">DEMO</a>
        <a href="" class="project__btn--highlighted">SOURCE</a>
      </div>
    </div>
    <div>
      <img class="projects__item" src="assets/project/dashboard.jpg" alt="dashboard">
      <div class="project__container">
        <h4 class="projects__header">Social Dashboard</h4>
        <p class="project__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolores totam tenetur deleniti nam aliquam.</p>
        <a href="" class="project__btn">DEMO</a>
        <a href="" class="project__btn--highlighted">SOURCE</a>
      </div>
    </div>
  </div>
  <a href="https://github.com/Gikkk" class="intro__btn" target="_blank"><span>More on Github</span></a>
</section>
