<header>
  <nav class="navbar" #navbar>
    <!-- desktop navbar  -->
    <section class="navbar__desktop">
      <ul class="navbar__list">
        <li><a class="navbar__item" [routerLinkActiveOptions]="{exact: true}" routerLink="/home" routerLinkActive='navbar__active'>Homepage</a></li>
        <li><a class="navbar__item" routerLink="/about" routerLinkActive='navbar__active' >About</a></li>
      </ul>
      <a>
        <img class="navbar__logo" src="assets/general/logo.png" alt="logo" routerLink="/">
      </a>
      <ul class="navbar__list">
        <li><a class="navbar__item" routerLink="/projects" routerLinkActive='navbar__active' >Projects</a></li>
        <li><a class="navbar__item" routerLink="/contact" routerLinkActive='navbar__active' >Contact</a></li>
      </ul>
    </section>
    <!-- language bar  -->
    <!-- <section class="navbar__language">
      <img src="assets/language/geo.png" alt="geo flag" (click)="langChange('ge')" *ngIf="!langFlag">
      <img src="assets/language/usa.png" alt="usa flag" (click)="langChange('en')" *ngIf="langFlag">
    </section> -->

    <!-- hamburger menu icon -->
    <section class="hamburger" (click)="activeClass()" [ngClass]="{'open' : active}">
      <div class="hamburger__line hamburger__line--half hamburger__line--start"></div>
      <div class="hamburger__line"></div>
      <div class="hamburger__line hamburger__line--half hamburger__line--end"></div>
    </section>

    <!-- mobile navbar -->
    <section class="mobnav" [ngClass]="{'visible' : active}">
      <article>
        <ul class="mobnav__list" >
          <li (click)="activeClass()">
            <img src="assets/mob-nav/homepage.png" alt="homepage icon" loading="lazy">
            <a class="mobnav__item" [routerLinkActiveOptions]="{exact: true}" routerLink="/home" routerLinkActive='navbar__active'>Home</a>
          </li>
          <li (click)="activeClass()">
            <img src="assets/mob-nav/settings.png" alt="skills icon" loading="lazy">
            <a class="mobnav__item" routerLink="/about" routerLinkActive='navbar__active'> About</a>
          </li>
          <div class="mobnav__line--middle"></div>
          <li (click)="activeClass()">
            <img src="assets/mob-nav/aim.png" alt="focus icon" loading="lazy">
            <a class="mobnav__item" routerLink="/projects" routerLinkActive='navbar__active'>Projects</a>
          </li>
          <li (click)="activeClass()">
            <img src="assets/mob-nav/question.png" alt="who icon" loading="lazy">
            <a class="mobnav__item" routerLink="/contact" routerLinkActive='navbar__active'>Contact</a>
          </li>
        </ul>
      </article>
      <div class="mobnav__line"></div>
      <div class="mobnav__line"></div>
      <article>
        <h4>Language</h4>
        <div>
          <!-- <button class=" navbar__btn navbar__btn--active" (click)="langChange('en')" #Eng>English</button>
          <button class="navbar__btn" (click)="langChange('ge')" #Geo>ქართული</button> -->
          <button class=" navbar__btn navbar__btn--active" #Eng>English</button>
          <button class="navbar__btn" #Geo>ქართული</button>
        </div>
      </article>
    </section>

  </nav>
  <div class="mobnav__space" (click)="activeClass()" [ngClass]="{'mobnav__space--active' : active}"></div>
</header>
