*{
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body{
  margin: 0;
  font-family: $primary-font;
}

::-webkit-scrollbar {
  scrollbar-width: none;
  width: 0;
  background: transparent;
  display: none;
}
